.chat-main {
  background-color: #ffffff;
  width: calc(100vw - 300px);
  height: 100vh;
  
  
  .main-header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  overflow: scroll;

    .chat-main__left-box {
      margin-top: 35px;
      font-size: 20px;
      color: #333333;

      .chat-main__member {
        font-size: 12px;
        color: #999999;
        margin-top: 15px;
      }
    }
  
  .edit-btn {
  font-size: 16px;
  color: #38aef0;
  border: 1px solid #38aef0;
  padding: 10px 20px;
  text-decoration: none;
  }
    }
  }

  .messages {
  height: calc(100vh - 190px);
  background-color: #fafafa;
  padding-left: 40px;
  padding-top: 45px;
  overflow: scroll;

    .chat-main__group-info {
    
      .chat-main__member {
        font-size: 16px;
        color: #333333;
        padding-bottom: 12px;
        display: flex;
        font-weight: bold;

      .upper-message__date {
        color: #999999;
        font-size: 12px;
        margin-left: 10px;
      }
      }
    }
    .chat-main__message-list {
      font-size:14px;
      color: #434A54;
      padding-bottom: 46px;
    }
  }
  
  .chat-main__message-form {
  height: 90px;
  background-color: #d2d2d2
  }

  .form {
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;
    
    form {
      display: flex;
      .input-box {
        display: flex;
        width: 100%;
        position: relative;
        &__text {
          height: 50px;
          width: 100%;
          color: #434a54;
          border-style: none;
          padding: 0 0px 0 10px;
        }
        &__image {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          font-size: 1.3rem;

          &__file {
            display: none;
          }
        }
      }
    }
    .submit-btn {
      width: 100px;
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      background-color: #38aef0;
      color: white;
      cursor: pointer;
    }
  }