.chat-main {
  background-color: #ffffff;
  width: calc(100vw - 300px);
  height: 100vh;
  
  
  .main-header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  overflow: scroll;

    &__left-box {
      margin-top: 35px;
      font-size: 20px;
      color: #333333;

      
      &__current-group {
        font-size: 20px;
        color: #333;
        margin-bottom: 15px;
      }

      &__member-list {
        display: flex;
        font-size: 12px;
        color: #999999;

        &__member-list__member {
          li {
            display: list-item;
            text-align: -webkit-match-parent;

          }

        }
      }
    }
  
  .edit-btn {
  font-size: 16px;
  color: #38aef0;
  border: 1px solid #38aef0;
  padding: 10px 20px;
  text-decoration: none;
  }
  }
}

  .messages {
  height: calc(100vh - 190px);
  background-color: #fafafa;
  padding: 46px 40px;
  overflow: scroll;

    .message {
      padding-bottom: 40px;

      &__group-info {
        display: flex;
        margin-bottom: 10px;

        .chat-main__member {
          font-size: 16px;
          color: #333333;
          font-weight: bold;
        }
        .chat-main__date {
            color: #999999;
            font-size: 12px;
            margin-left: 10px;
        }
      }
    
    
  }
  .chat-main__message-list {
    font-size:14px;
    color: #434A54;
    margin-bottom: 10px;
  }
  }
  
  .form {
    height: 90px;
    width: calc(100vw - 300px);
    background-color: #d2d2d2;
    padding: 20px 40px;
    box-sizing: border-box;
  
    
    &__message {
      width: calc(100% - 150px);
      height: 50px;
      border: none;
      float: left;
      
    }
    
    &__mask {
      background-color: white;
      height: 50px;
      padding-right: 10px;
      float: left;
      width: 30px;
      &__image {
        font-size: 20px;
        line-height: 50px;  
      }   
    }
  
    .hidden {
      display: none;
    }

    .form__submit {
      height: 50px;
      padding: 0 30px;
      margin-left: 30px;
      position: absolute;
      width: 100px;
      background-color: #38aef0;
      color: white;
      cursor: pointer;
    }
  }
