.side-bar {
  height: 100vh;
  width: 300px;
  background-color: #253141;
  

  .header {
    height: 100px;
    padding: 0 20px;
    color: white;
    display: flex;
    align-items: center;
    .header__box {
      height: 20px;
      width: 100%;
      font-weight: bold;
      justify-content: space-between;
      display: flex;
      .header__lists {
        display: flex;
        width: 60px;
        li {
          margin-left: 5px;
          a {
            color: #ffffff;
          }
        }
        
      }
    }
  }
  .groups {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 20px 20px 0;
    text-decoration: none;
    overflow: scroll;
    .group {
      color: #ffffff;
      margin-bottom: 40px;
      text-decoration: none;
      
      a:-webkit-any-link {
        text-decoration: none;
      }
      &__name {
        font-size: 15px;
        margin-bottom: 5px;
        color: white;
        text-decoration: none;
      }
      &__message {
        color: white;
        font-size: 11px;
        margin-bottom: 40px;
        text-decoration: none;
      }
    }
  }
}


